<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

<div class="container">
    <div class="jumbotron text-center">
        <h2>Update Portfolio</h2>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <form>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">First Name:</span>
                            <input type="text" class="form-control" placeholder="First Name" aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Last Name:</span>
                            <input type="text" class="form-control" placeholder="Last Name" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Age:</span>
                            <input type="text" class="form-control" placeholder="Age" aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Gender:</span>
                            <input type="text" class="form-control" placeholder="Gender" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Email Address:</span>
                            <input type="text" class="form-control" placeholder="Email Address" aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Phone Number:</span>
                            <input type="text" class="form-control" placeholder="Phone Number" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Date of birth:</span>
                            <input type="text" class="form-control" placeholder="23/3/2020" aria-describedby="basic-addon1">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Job description:</span>
                            <input type="text" class="form-control" placeholder="Enter job description" aria-describedby="basic-addon1">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-4">

                        <span class="input-group-addon" id="basic-addon1">Enter price range:</span>
                        <input type="text" class="form-control" placeholder="Enter job description">-<p><input type="text" class="form-control" placeholder="Enter job description"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">

                        <span class="input-group-addon" id="basic-addon1">Enter profile picture:</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-default btn-lg">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-xs-4">
            <img class="img-responsive" src="http://placehold.it/800x600"/>
            <p>Robert Lee</p>
            <p>Specialized in Wardrobe and door repairing</p>
            <p>SGD 50-150 per hour</p>
            <p> &#9733; &#9733; &#9733; &#9733; &#9734;</p>

        </div>
    </div>
</div>
