<!DOCTYPE html>
<html lang="en">
<head style="background-color:black;">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body style="background-color:black;color:white;">
<br><br><br><br><br><h1 style="padding-left:300px">Find the perfect tools<br>for your home</h1>
<p style="padding-left:300px">exquisite tools that encourage<br>you to get moving.</p><br><br>
<button style="position:relative; right: -320px;display: inline-block;border-radius:10px;width: 100px;padding: 10px;text-decoration:none;background-color: #404040;color: white;" type="button">Shop Now</button>
<img style="position: relative;top: -220px;padding-right:300px" src="Decisions.jpg" width="550" height="350" align="right">
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><h1 style="padding-right:280px; text-align: right;">Look for repair services<br>for your home</h1>
<p style="text-align: right; padding-right:280px;">We provide a large variety of repair service<br>like computer repair, plumbing repair, electric<br>appliance repair</p>
<img style="position: relative; top: -220px;padding-left:300px" src="Decisions.jpg" width="550" height="350" align="left">
<br><br><button style="align:right;position:relative; right: -100px;display: inline-block;border-radius:10px;width: 100px;padding: 10px;text-decoration:none;background-color: #404040;color: white;" type="button">Shop Now</button>
</body>
</html>
